@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

/* base styles */
* {

  font-family: 'Nunito', cursive;
  color: #333;
}

.navbar h2 {
  color: #f1356d;
}

div#root {
  all: initial;
}
