@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

/* base styles */
* {
  font-family: 'Nunito', cursive;
  color: #333;
}

div#root {
  all: initial;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
  border-bottom: solid 1px #f2f2f2;
}

.title {
  flex-grow: 1;
  margin: 5px;
}

.title span{
  font-size: 22px;
  color: #f1356d;
}

.links {
  flex-grow: 1;
  display: flex;
  margin: 5px;
}

.links a {
  text-decoration: none;
  padding: 3px;
  flex-grow: 1;
  text-align: end;
}

.content {
  display: flex;
  justify-content: center;
  /* align-items: start; */
  /* height: 90vh; */
  flex-wrap: wrap;
}

.content .element {
  flex-basis: 100%;
}

.login-form {
  flex-basis: 60%;
}

.login-input {
  width: 100%;
}

.login-form a {
  text-decoration: none;
}
