@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */


/* * {
  font-family: 'Nunito', cursive;
  color: #333;
} */

div#root {
  all: initial;
}

body {
  margin: 0;
  padding: 0;
  background-color:aliceblue;
}
