@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

/* base styles */
* {
  font-family: 'Nunito', cursive;
  color: #333;
}
.container{
  width: 500px;
  margin: 0 auto;
}

div#root {
  all: initial;
}

